# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: KIXLAB
email: kixlab.kaist@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  KAIST Interaction Lab (KIXLAB) focuses on human-computer interaction 
  research in the School of Computing at KAIST. We build interactive systems
  that support interaction at scale.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://kixlab.org/" # the base hostname & protocol for your site, e.g. http://example.com

analytics: "UA-88966686-1"

permalink: /:categories/:title

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock

sass:
    sass_dir: assets/style

encoding: utf-8
