---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered" style="padding-bottom:30px">
            <div class="col-md-3 col-sm-6">
                <img src="{{'/assets/img/CrowdsourcingHumanComputation.png' | prepend: site.baseurl }}"/>
                <h4>Crowdsourcing </h4>
                <h4> Human Computation</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="{{'/assets/img/OnlineEducationLearningatScale.png' | prepend: site.baseurl }}"/>
                <h4>Online Education </h4>
                <h4> Learning at Scale</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="{{'/assets/img/InteractiveDataAnalytics&Mining.png' | prepend: site.baseurl }}"/>
                <h4>Interactive Data Analysis & Mining</h4>
            </div>
            <div class="col-md-3  col-sm-6">
                <img src="{{'/assets/img/CivicEngagmentCollectiveAction.png' | prepend: site.baseurl }}"/>
                <h4>Civic Engagement  </h4>
                <h4>Collective Action</h4>
            </div>

        </div>
    </div><! --/container -->
</div><! --/service -->
<div class="container">
    <div class="row">
            <div class = "col-md-6">
                    {% include news.html title="LATEST NEWS" limit=5 %}
            </div>
            <div class="col-md-6">
                    {% include project.html title="LATEST PROJECTS" limit=5 %}
                    <div class="spacing"></div>
            </div>
    </div><!-- news and projects -->
</div><!-- container -->

