---
layout: index
title: Home
permalink: /
---

<div id="intro-section">
    <div class="container">
        <div class="row lab-intro">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p>&nbsp;&nbsp;&nbsp;&nbsp; The <strong>KAIST Interaction Lab</strong> (KIXLAB) focuses on <strong>human-computer interaction </strong> research in the School of Computing at KAIST. We build interactive systems that support <strong>interaction at scale</strong>. We often take an interdisciplinary approach to our research, by connecting computer science with learning science and social science, and aim to deploy our systems to real users.</p>
            </div>
        </div>
    </div>
</div>
<div id="service">
    <div class="container">

        <div class="row centered intro-panel" style="padding-bottom:30px">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img class="intro-img" src="{{'/assets/img/CrowdsourcingHumanComputation.png' | prepend: site.baseurl }}"/>
                <h4>Crowdsourcing </h4>
                <h4> Human Computation</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img class="intro-img" src="{{'/assets/img/OnlineEducationLearningatScale.png' | prepend: site.baseurl }}"/>
                <h4>Online Education </h4>
                <h4> Learning at Scale</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img class="intro-img" src="{{'/assets/img/CivicEngagmentCollectiveAction.png' | prepend: site.baseurl }}"/>
                <h4>Civic Engagement  </h4>
                <h4>Collective Action</h4>
            </div>
			<div class="col-md-3 col-sm-6 col-xs-6">
                <img class="intro-img" src="{{'/assets/img/InteractiveDataAnalytics&Mining.png' | prepend: site.baseurl }}"/>
                <h4>Interactive Data Analysis & Mining</h4>
            </div>

        </div>
    </div><! --/container -->
</div><! --/service -->
<div class="container">
    <div class="row">
            <div class = "col-md-6">
                    {% include news.html title="LATEST NEWS" limit=5 %}
            </div>
            <div class="col-md-6">
                    {% include projects.html title="LATEST PROJECTS" limit=5 %}
                    <div class="spacing"></div>
            </div>
    </div><!-- news and projects -->
</div><!-- container -->

