<footer class="footer">
    <div class="wrap">
        <div class="footer-item">
            <h2>Our Bunker</h2>
            <p>KAIST, N1 Room 624,<br>291 Daehak-ro, Yuseong-gu, Daejeon (34141)<br>Republic of Korea</p>
        </div>
        <div class="footer-item">


        </div>
        <div class="footer-item">
            <a href="http://hci.kaist.ac.kr">
                <img src="{{'/assets/img/logo_kaist_hci_white.png' | prepend: site.baseurl }}" height="50">
            </a>
            <a href="https://cs.kaist.ac.kr">
                <img src="{{'/assets/img/logo_kaist_soc.png' | prepend: site.baseurl }}" height="40">
            </a>
        </div>
    </div>
</footer>