<div id="headerwrap">
    <div class="kixlab-logo">
        
        <span class="typed-cursor inline-block translateX-35px"  style="color:white">|</span>
        <span class="white inline-block translateX-35px">&lt;</span> 
        <span class="red">ixlab</span> <span class="orange">src</span> 
        <span class="white">=</span><span class="yellow">"</span>
        <span class="yellow" id="src">KAIST Interaction LAB</span>
        <span class="yellow">"</span> <br /> 
        <span class="orange small-font">area</span> 
        <span class="white small-font">=</span>
        <span class="yellow small-font">"</span>
        <span class="yellow small-font" id="element"></span>
        <span class="yellow small-font">"</span>
        <span class="white small-font">&gt;</span>
    </div>
</div><!-- /headerwrap -->
