<div class="project-list">
    {% for project in include.projects limit:include.limit %}
    <div class="project">
        <div class="project-text">
            <h2 class="project-title">
                {% if project.single_page %}<a href="{{project.url}}">{{project.title}}</a>
                {% else %}{{project.title}}{% endif %}
            </h2>
            
            <p>
                {% if project.single_page %}
                    {{project.excerpt | remove: '<p>' | remove: '</p>'}}

                    {% if project.excerpt != project.content %}
                    <a href="{{project.url}}" class="read-more-btn">Read more</a>
                    {% endif %}
                {% else %}
                    {{project.content}}
                {% endif %}
            </p>

            <!--{% if project.website %}
            <p><a href="{{project.website}}" class="link-button">Project website</a></p>
            {% endif %}-->
        </div>

        <div class="project-image">
            <img src="{{ "/assets/img/projects/" | prepend: site.baseurl }}{{ project.img }}">
        </div>
    </div>
    {% endfor %}
</div>
