<div class="project-list">
    {% for project in include.projects limit:include.limit %}
    <div class="project">
        <div class="project-text">
            <h2 class="project-title">{{project.title}}</h2>
            {% if project.website %}
            <p><a href="{{project.website}}" class="link-button">Project website</a></p>
            {% endif %}
            
            {{project.content}}
            
        </div>

        <div class="project-image">
            <img src="{{ "/assets/img/projects/" | prepend: site.baseurl }}{{ project.img }}">
        </div>
    </div>
    {% endfor %}
</div>
