<div class="container">
    <!--<div class="group-photo">-->
    <div class="row">
        <div class='col-md-6 col-md-offset-3 col-xs-12'>
            <a href="/assets/img/members/group_2017_july.jpg">
                <img class="img-responsive" src="/assets/img/members/group_2017_july.jpg" alt="Photo of KIXLAB group, July 2017" />
            </a>
        </div>
    </div>

    {% for state in site.data.members %}
    <div class="status">
    <!--<h4 class="centered"> {{ state.stateObj.statename }}</h4>-->
    {% for position in state.stateObj.position %}
        <h3 class="centered position"><b>{{ position.positionName | prepend : "&lt " | append : " &gt" }}</b></h3> <!-- position name -->
        {% unless position.positionMembers %}
            <h4> We have no {{position.positionName}}</h4>
        {% endunless %}
        <div class="position-members">
        
        {% if position.positionName != 'Alumni' %}
            {% assign sorted_members = (position.positionMembers | sort: 'lastName' %}
        {% else %}
            {% assign sorted_members = (position.positionMembers | sort: 'leavingDate' | reverse %}
        {% endif %}
        {% for member in sorted_members %}
            <div class='namecard'>
                {% if position.positionName != 'Alumni' %}
                    <div class='person-img-wrap'>
                        <img src="{{'/assets/img/members/' | prepend: site.baseurl }}{{ member.img }}" alt="{{member.name}}"/>
                    </div>
                {% endif %}
                {% if member.site != '' %}
                    <a href="{{member.site}}"><h4 class="member-name">{{member.name}}</h4></a>
                {% else %}
                    <h4 class="member-name">{{member.name}}</h4>
                {% endif %}
                {% for career in member.career %}
                    <h5 class="member-career">{{career}}
                    </h5>
                {% endfor %}

                {% if member.period %}
                    {{member.period}}
                {% endif %}
                
                <h6>{{member.email}}</h6>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    {% endfor %}
</div>
