<div class="container">
    <img src="/assets/img/members/group.jpg" alt="Picture of KIXLAB group" width="500" />

    {% for state in site.data.members %}
    <div class="status">
    <!--<h4 class="centered"> {{ state.stateObj.statename }}</h4>-->
    {% for position in state.stateObj.position %}
        <h3 class="centered position"><b>{{ position.positionName | prepend : "&lt " | append : " &gt" }}</b></h3> <!-- position name -->
        {% unless position.positionMembers %}
            <h4> We have no {{position.positionName}}</h4>
        {% endunless %}
        <div class="position-members">
        {% for member in position.positionMembers %}
            <div class='namecard'>
                <div class='person-img-wrap'>
                    <img src="{{'/assets/img/members/' | prepend: site.baseurl }}{{ member.img }}" alt="{{member.name}}"/>
                </div>
                {% if member.site != '' %}
                    <a href="{{member.site}}"><h4 class="member-name">{{member.name}}</h4></a>
                {% else %}
                    <h4 class="member-name">{{member.name}}</h4>
                {% endif %}
                {% for career in member.career %}
                    <h5 class="member-career">{{career}}</h5>
                {% endfor %}

                <h6>{{member.email}}</h6>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    {% endfor %}
</div>
