<div id="portfoliowrap">
    <div class="">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.categories['project'] limit:include.limit %}

                <div class="row">
                    <div class="col-xs-4">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">

                    </div><!-- he wrap -->

                    <div class="col-xs-8">
                    <a href="{{ project.url | prepend: site.baseurl }}">
                            <h1 class="project_title" style="text-align:left">{{project.title}}</h1>
                    </a>
                            <p style="text-align:left">{{project.desc}}</p>
            </div>
            </div><!-- end col-12 -->
            <div class="spacing"></div>
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
