<div id="portfoliowrap">
    <div class="">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.categories['project'] limit:include.limit %}

                <div class="row">
                    <div class="container">
                    <a href="{{ project.url | prepend: site.baseurl }}">
                    <div class="col-xs-4">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
<!--
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                                <a data-rel="prettyPhoto" href="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="{{  project.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div>
                    </div>-->

                    </div><!-- he wrap -->
           
                    <div class="col-xs-8">

                            <h1 style="text-align:left">{{project.title}}</h1>
                            <p style="text-align:left">{{project.desc}}</p>
                    </div>
            </a>
            </div>
            </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
