{% if include.title %}<h1>{{ include.title }}</h1>{% endif %}

<div class="recentitems portfolio">
    {% for project in site.categories.projects limit:include.limit %}
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ "/assets/img/projects/" | prepend: site.baseurl }}{{ project.img }}">
        </div>

        <div class="col-xs-8">
            <h2 class="project_title">{{project.title}}</h2>
            <p>{{project.content}}</p>
        </div>
    </div><!-- end row -->
    <div class="spacing"></div>
    {% endfor %}
</div><!-- portfolio -->
