<div id="publicationwrap">
        <ul class="publications">
        {% for paper in site.data.publications.papers %}
            <li>
                {% if paper.link == "" or paper.link == "<add link to your paper>" %}
                    <span title="Camera-ready version available soon!" class="title">{{paper.title}}</span>
                {% else %}
                    <a href="{{paper.link}}" class="title">{{paper.title}}</a>
                {% endif %}
                <div class="author">
                        {% for author in paper.author %}
                            {{ author }}
                        {% endfor %}
                </div>
                <div>
                        <i class="venue">{{ paper.venue }}</i>
                        {% if paper.award %}
                            <span class="award">{{ paper.award }}</span>
                        {% endif %}
                        {% for material in paper.materials %}
                        <a href="{{material.url}}" class="material">{{ material.type }}</a>
                        {% endfor %}
                </div>
            </li>
        {% endfor %}
        </ul>
        <div class="spacing"></div>
</div>
