@charset "UTF-8";

.project-list {

    .project-title {
        font-weight: 500;
        line-height: 2rem;
    }

    .project {
        clear: left;
        border-left: 3px solid $color-accent;

        display: flex;
        flex-wrap: wrap;

        margin-bottom: 2*$spacing;

        .project-image {
            float: right;
            max-width: 24*$spacing;
            margin-left: 3*$spacing;
            flex: 24;
            min-width: 15rem;

            img {
                width: 100%;
                height: auto;
            }

            @media (max-width: 39rem) {
                order: -1;
                margin: 0 0 1*$spacing calc(1.5rem - 3px);
            }
        }
        .project-text {
            flex: (69-27);
            min-width: 20rem;
            max-width: 100%;
            box-sizing: border-box;

            font-size: (15/16)*1rem;

            padding: .5rem 0 .5rem calc(1.5rem - 3px);

            line-height: 1.5rem;

            .project-title {
                margin-top: 0;
            }
        }
    }
}

.single-project {
    .page-title {
        margin-bottom: 1rem;
    }
    .entry-meta {
        margin-bottom: 1rem;
    }

    .project-text {
        img {
            max-width: 100%;
        }

        .caption {
            font-weight: bold;
            font-size: .85em;
        }

        iframe {
            margin: 1.5rem 0;
        }
    }

    .project-content {
        display: flex;
        flex-direction: column;

        @media(min-width: 600px) {
            flex-direction: row;
        }

        .project-meta {
            font-size: .9em;
            margin-bottom: 2*$spacing;

            @media(min-width: 600px) {
                order: 2;
                flex: 20;
                margin-left: 3*$spacing;
                border-top: 1px solid #333;
                padding-top: .5em;
            }
        }
        .project-text {
            flex: (69-20);
        }
    }
}

.links-list {
    margin-left: .5em;
    line-height: 1.5;

    li {
        text-indent: -1em;
        margin-left: 1em;
        &:before {
            content: "\25A0";
            width: 1em;
            text-align: center;
            display: inline-block;
        }

        &.external:before {
            content: "\2197";
        }

        &.document:before {
            content: "\2630";
        }
    }
}