@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:300,500,700');

body {
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
}

.main, .footer {
    .wrap {
        font-weight: 300;
    }
}

/* Paragraphs */
p, ul, ol {
    line-height: 1.5rem;

    & + p, & + ul, & + ol {
        margin-top: 1.5rem;
    }
}

/* Links */
a {
    &:link, &:visited {
        color: $color-link;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.active a {
    color: inherit;
    text-decoration: none;
}

a.link-button {
    font-size: .8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 500;
    display: inline-block;
    padding: 0 .4em;
    text-transform: uppercase;

    &:hover {
        text-decoration: none;
        border-color: $color-link;
    }
}

.read-more-btn {
    text-transform: uppercase;
    font-size: .85em;
}

/* Headlines */
h1, h2, h3, h4 {
    line-height: 2rem;
}

h1 {
    margin: 0 0 $spacing*2;
}

h2 {
    font-weight: 500;
    font-size: (22/16)*1em;
    margin: $spacing*2 0 $spacing;

    @media (max-width: 60rem) {
        font-size: (20  /16)*1em;
    }
}

.page-title, .position-title {
    margin-top: $spacing;
    margin-bottom: 2*$spacing;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: (24/16)*1em;
}



/* Entries */
.entry-title {
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}
.entry-meta {
    font-size: 0.875em;
    color: #606060;
    margin: 0;
    font-style: italic;

    & + p {
        margin-top: 0;
    }
}

.project-title {
    font-weight: 500;
    line-height: 1.5rem;
}

.project-description {
    font-size: (13/16)*1em;
    line-height: 1.25rem;
    hyphens: auto;
}

/* Special elements */
.header .wrap {
    line-height: 1rem;
}
.logo {
    font-weight: 300;
    font-size: .875em;
    line-height: 1;

    span {
        font-weight: 700;
        font-family: 'Roboto Mono', monospace;
        font-size: (19/14)*1em;
        color: $color-accent;
    }
}

.note {
    color: $color-faded-text
}

.small {
    font-size: .825em;
    color: #555;
}

.small ul {
    li {
        text-indent: -10px;
        margin-left: 10px;
        &:before {
            content: "\00b7 ";
            font-size: 20px;
            vertical-align: middle;
            line-height: 21px;
        }
    }
}

.slogan {
    font-size: 2.5em;
    line-height: 3.5rem;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1.5rem;

    @media (max-width: 550px) {
        font-size: 2em;
        line-height: 3rem;
    }

    em {
        font-weight: 700;
        font-style: normal;
    }
}

.introduction {
    max-width: 41em;
    font-size: 1.125em;
    
    p {
        line-height: 2rem;
    }

    @media (max-width: 45rem) {
        font-size: (17/16)*1rem;
    }
}

.sponsors {
    text-align: center;
    font-size: .875rem;
    max-width: 40rem;
    margin: 2*$spacing auto 3*$spacing;

    &:after, &:before {
        content: "";
        width: 3rem;
        display: block;
        border-top: 1px solid #555;
        margin: .5rem auto;
    }
}

.footer {
    font-size: (14/16)*1em;

    h2 {
        font-size: 1em;
        color: #fff;
        margin: 0;
    }
}

.main-nav {
    font-weight: 500;
    font-size: (14/16)*1em;
}