---
layout: default
---

{{ content }}

<script src="/assets/js/flexslider-min.js"></script>
<div class="group-picture flexslider">
  <ul class="slides">
    {% for photo in site.data.groupphotos.photos %}
    <li>
      <a href="/assets/img/members/{{photo.filename}}.jpg" class="photo">
        <img
          class="img-responsive"
          src="{{ site.baseurl }}/assets/img/members/{{photo.filename}}.jpg"
          alt="Photo of KIXLAB group, {{photo.description}}"
        />
        <span class="caption">{{photo.description}}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% include list_members.html %}
