---
layout: default
---

<!-- {{ content }} -->

<div class="group-picture">
  <a href="/assets/img/members/group_2023_jul.jpg" class="photo">
    <img
      class="lazy img-responsive"
      src="{{ site.baseurl }}/assets/img/members/group_2023_jul.jpg"
      alt="Photo of KIXLAB group, July, 2023"
    />
    <span class="caption">July, 2023</span>
  </a>
</div>
<div class="group-picture-past">
  <a href="/photos/"> Click to see past KIXLAB group photos </a>
</div>

{% include list_members.html %}
