---
layout: default
---

{{ content }}

<div class="group-picture">
    <a href="/assets/img/members/group_2019_jun.jpg" class="photo">
      <img
        class="lazy img-responsive"
        src="{{ site.baseurl }}/assets/img/members/group_2019_jun.jpg"
        alt="Photo of KIXLAB group, June, 2019"
      />
      <span class="caption">June, 2019</span>
    </a>
</div>
<div class="group-picture-past">
  <a href="/photos/">
    Click to see past KIXLAB group photos
  </a>
</div>

{% include list_members.html %}
